<mat-toolbar color="primary">
  <img src="assets/beer.png" />
  <span>Beer picker</span>
  <span class="spacer"></span>
  <nav mat-tab-nav-bar color="accent" backgroundColor="primary" mat-stretch-tabs>
    <a mat-tab-link *ngFor="let link of links" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"> {{link.label}} </a>
  </nav>
  <span class="spacer"></span>
  <button mat-button mat-mat-flat-button matTooltip="Log in" *ngIf="this.user === false" (click)="login()" color="accent">SIGN IN</button>
  <button mat-button mat-mat-flat-button matTooltip="Register" *ngIf="this.user === false" (click)="register()" color="link">SIGN UP</button>
</mat-toolbar>
<router-outlet></router-outlet>
Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
